body {
    margin-top: 20px;
    background: #ffffff;
}
table>:not(caption)>*>* {
    padding: 0.75rem 1.25rem;
    border-bottom-width: 1px;
    border-color: inherit;
}

table td {
    font-weight: 600;
    vertical-align: middle;
    text-align: center;
    background-color: #fff !important;
    color: #000;
}
table th {
    font-weight: 600;
    background-color: #343a40 !important;
    vertical-align: middle;
    text-align: center;
    color: white !important;
}
